{{ define "main" }}
{{ .Content }}
<content>
  <ul class="blog-posts">
    {{ with .Site.GetPage "/blog" }}
      {{ range .RegularPages.ByDate.Reverse }}
      <li>
        <span>
          <i>
            <time datetime='{{ .Date.Format "2006-01-02" }}'>
              {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
            </time>
          </i>
        </span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ else }}
      <li>No posts yet.</li>
      {{ end }}
    {{ end }}
  </ul>
</content>

<section id="subscribe" aria-labelledby="subscribe-heading">
  <h2 id="subscribe-heading">Get new posts by email</h2>
  <iframe
    src="https://tally.so/embed/WO7K1k?alignLeft=1&hideTitle=1&transparentBackground=1"
    loading="lazy"
    width="100%"
    height="180"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    title="Get new posts by email"
  ></iframe>
</section>
{{ end }}
